<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">Inventory</h1>
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Ingredients</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Unit</th>
        <th class="px-6 py-3 bg-gray-50"></th> <!-- Empty th for the Edit button column -->
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |ingredient| %>
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b"><%= ingredient.ingredients_name %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b"><%= ingredient.quantity %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 border-b"><%= ingredient.unit %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium border-b">
            <%= link_to "Edit Quantity", edit_stock_path(ingredient), class: "text-red-400 hover:text-red-700" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>