<h1>Inventory</h1>

<table class="min-w-full">
  <thead>
    <tr>
      <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Ingredients</th>
      <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
      <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Unit</th>
      <th class="px-6 py-3 bg-gray-50"></th> <!-- Empty th for the Edit button column -->
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |ingredient| %>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= ingredient.ingredients_name %></td>
        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= ingredient.quantity %></td>
        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= ingredient.unit %></td>
        <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
          <%= link_to "Edit", edit_stock_path(ingredient), class: "text-blue-500 hover:text-blue-700" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
